.forgot {
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
    background: url('../assets/Background.png');
    background-position: center;
    background-repeat: repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Adjust the height as needed */
}

.forgot_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.forgot_glass {
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 16px;
    border: 4px solid #f8f8f8;
    width: 30%;
    padding: 5px;
    min-width: max-content;
}

.forgot_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgot_heading {
    letter-spacing: 1px;
    font-size: 2rem;
    font-weight: 500;
    margin: 20px 0 10px 0;
    text-transform: uppercase;
}

.forgot_subheading {
    margin: 0.6rem 0;
    text-align: center;
    font-size: 1.2rem;
    width: 80%;
    --text-opacity: 1;
    color: #718096;
    color: rgba(113, 128, 150, var(--text-opacity));
}

.forgot_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    letter-spacing: 0.5px;
}

.forgot_icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: grey;
    font-size: 20px;
}

.forgot_input_box {
    position: relative;
    width: calc(78% - 10px);
    /* Adjust the width as needed */
    display: flex;
    align-items: center;
}

.forgot_textbox {
    height: 50px;
    width: 100%;
    outline: none;
    color: #4f46e5;
    border: 1px solid lightgrey;
    outline: none;
    /* background-color: #fff; */
    border-radius: 5px;
    padding-left: 55px;
    font-size: 17px;
    transition: all 0.3s ease;
    margin: 0.5rem 0;
}

.forgot_button {
    margin-top: 1rem;
    border-width: 0;
    background-color: #4f46e5;
    width: 50%;
    padding: 15px 10px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
}

.forgot_button a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot_button:hover {
    background-color: #3f38a6;
}

.forgot_trigger {
    text-align: center;
    margin: 0.5rem 0;
}

.forgot_trigger_btn {
    color: #4f46e5;
    text-decoration: none;
}

.forgot_trigger_btn:hover {
    color: red;
}

.forgot_error_message{
    margin: 0.5rem; 
    color: red;
}


/* For Mobile View (max-width: 450px) */
@media screen and (max-width: 450px) {
    .forgot_container {
        height: auto;
        /* Adjust height as needed */
        max-width: 90%;
        /* Adjust the maximum width of the container */
    }

    .forgot_glass {
        border-radius: 6px;
        min-width: 100%;
        height: 100%;
        backdrop-filter: blur(1px);
    }

    .forgot_heading {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .forgot_subheading {
        font-size: 1rem;
        margin-bottom: 1rem;
        width: 90%;
    }
    .forgot_input_box{
        width: 100%;
    }
    .forgot_textbox {
        width: 100%;
    }

    .forgot_trigger_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
    }

    /* Add more responsive adjustments as needed */
}