.reset {
    width: 100%;
    padding: 0 2rem;
    margin: 0 auto;
    background: url('../assets/Background.png');
    background-position: center;
    background-repeat: repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    /* Adjust the height as needed */
}

.reset_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.reset_glass {
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 4px 30px #4747470b;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 16px;
    border: 4px solid #f8f8f8;
    width: 30%;
    padding: 5px;
    min-width: max-content;
}

.reset_title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reset_heading {
    letter-spacing: 1px;
    font-size: 2rem;
    font-weight: 500;
    margin: 20px 0 10px 0;
    text-transform: uppercase;
}

.reset_subheading {
    text-align: center;
    font-size: 1.2rem;
    width: 80%;
    --text-opacity: 1;
    color: #718096;
    color: rgba(113, 128, 150, var(--text-opacity));
}

.reset_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    letter-spacing: 0.5px;
}


.reset_password_input {
    height: 50px;
    width: calc(78% - 10px);
    position: relative;
    margin-top: 15px;
    border-width: 0;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-size: 1rem;
    outline: none;

}

.reset_textbox {
    height: 100%;
    width: 100%;
    outline: none;
    color: #4f46e5;
    border: 1px solid lightgrey;
    background-color: #fff;
    border-radius: 5px;
    padding-left: 55px;
    font-size: 17px;
    transition: all 0.3s ease;
}


.reset_eye_toggle {
    cursor: pointer;
    position: absolute;
    top: 52%;
    left: 20px;
    transform: translateY(-50%);
    color: grey;
}

/* .reset_eye_toggle:hover{
    color: #4f46e5;
} */


.reset_error_message {
    text-align: center;
    color: red;
}


.reset_button {
    margin-top: 1rem;
    border-width: 0;
    background-color: #4f46e5;
    width: 50%;
    padding: 15px 10px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
}

.reset_button a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset_button:hover {
    background-color: #3f38a6;
}

.reset_error_message {
    text-align: center;
    color: red;
}

.reset_success_message{
    color: green
}

.reset_trigger {
    text-align: center;
    margin-top: 0.5rem;
}

.reset_trigger_btn {
    color: #4f46e5;
    text-decoration: none;
}

.reset_trigger_btn:hover {
    color: red;
}



/* For Mobile View (max-width: 450px) */
@media screen and (max-width: 450px) {
    .reset_container {
        height: auto;
        /* Adjust height as needed */
        max-width: 90%;
        /* Adjust the maximum width of the container */
    }

    .reset_glass {
        border-radius: 6px;
        min-width: 100%;
        height: 100%;
        backdrop-filter: blur(1px);
    }

    .reset_heading {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .reset_subheading {
        font-size: 1rem;
        margin-bottom: 1rem;
        width: 90%;
    }

    .reset_password_input{
        width: 100%;
    }

    /* .reset_textbox
    {
        width: 100%;
    } */

    .reset_trigger_btn {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-bottom: 1rem;
    }

    /* Add more responsive adjustments as needed */
}